*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
.main{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  padding: 3em;
}
.poke{
  margin:2em;
}
.singlePokemon{
  margin:1em;
}
/* .input{
  border:none;
  border-radius:8px;
  font-size:1rem;
  height:2rem;
  margin-left:0.5em;
  margin-right:0.5em;
  padding:0.6em;

  
} */
button{
  padding:0.6em;
  margin-left:0.5em;
  margin-right:0.5em;
  background: #635bff;
  color:white;
  border-radius:8px;
  cursor: pointer;
  border:none;
  outline:none;

}
button:hover{
  background:#0A2540;
}
.poke-search{
  display:flex;
  flex:row;
  justify-content:center;
  align-items:center;
}
.search-box{
  width:60px;
}